<%= link_to 'Nowy post', new_post_path %>
<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Content</th> 
  </tr>
  <%- @posts.each do |post| %>
    <tr>
      <td><%=post.title%></td>
      <td><%=post.content%></td> 
    </tr>
  <% end %>
